@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
.search__box input {
    width: 343px;
    border: none;
    border-radius: 30px;
    height: 50px;
    background-color: #e7e4e4;
}
.main__search__icon {
    margin-left: -40px;
}
.main__search__icon i {
    color: #aaa2a2;
}

.main__slider__section {
    background-color: #FCEAE8;
}
.slider__btn {
    background-color: #FF3786;
}